
html, body {
    background: #324582;
    height: 100%;
    color: #0099ff;
    font-family: sans-serif;
    text-align: center;
    height: 90%;
    font-size: 1.6em;
}

h1 {
    color: #0099cc;
    font-size: 2em;
}


.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 40px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 12em;
    margin-bottom: 12em;
    margin-right: 1em;
    margin-left: -3.8em;
    transform: rotate(-90deg);
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: #200100;
    cursor: pointer;
    
}


select {
  border: none;
  background-color:#324560;
  color:#0099ff;
  font-size: 1em;
    
}

option {
  background:#324590;
  border-top:1px solid #444;
  padding:.3em 1em .3em 1em;
}

#controlsDiv{
    padding:2em 1em 1em 1em;
    display: flex;
    justify-content: center;
}

#gainDiv{
    text-align:center;
    align-content: center;
    float: left;
    width: 200px;
    height:500px;
    font-size:0.8
}
#attackDiv{
    text-align:center;
    align-content: center;
    float: left;
    width: 200px;
    height:500px;
    font-size:0.8
}
#releaseDiv{
    text-align:center;
    align-content: center;
    float: left;
    width: 200px;
    height:500px;
    font-size:0.8
}
#durationDiv{
    text-align:center;
    align-content: center;
    float: left;
    width: 200px;
    height:500px;
    font-size:0.8
}
#sustainDiv{
    text-align:center;
    align-content: center;
    float: left;
    width: 200px;
    height:500px;
    font-size:0.8
}
#decayDiv{
    text-align:center;
    align-content: center;
    float: left;
    width: 200px;
    height:500px;
    font-size:0.8
}
